/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #A6A6A6;
    color: #333;

    margin: 0;
    padding: 0;
}

h2, h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p.lead {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Imagenes */
img {
    max-width: 100%;
    height: auto;
}

/* Formularios */
form {
    padding: 0 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Bloques de texto */
blockquote {
    padding: 20px;
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
    font-style: italic;
}

blockquote p {
    font-size: 1rem;
}

/* Contact Information */
.text-center p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.header-background {
    background-color: #737373;
    color: white; /* Para que el texto contraste bien con el fondo */
    padding: 20px;
}

.header-background nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra los elementos del menú */
}

.header-background nav ul li {
    margin: 0 15px;
}

.header-background nav ul li a {
    color:  #0D0D0D; /* Enlaces en blanco para buena visibilidad */
    text-decoration: none;
    font-weight: bold;
}

.header-background nav ul li a:hover {
    color: #cccccc; /* Cambia el color al pasar el ratón */
}


.footer-background {
    background-color: #262626;
    color: white; 
    padding: 20px;
    text-align: center;
}

.footer-background a {
    color: #ffffff; 
    text-decoration: none;
}

.footer-background a:hover {
    color: #cccccc; 
}


/* Responsive: Pantallas menores a 400px */
@media (max-width: 400px) {
    h2 {
        font-size: 1.3rem;
    }

    p.lead, blockquote p {
        font-size: 1rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px;
    }
}
